# Example Configuration for 'always-up-to-date'

# Allow updates to minor versions
ALLOW_MINOR_UPDATES=false

# Allow updates to major versions
ALLOW_MAJOR_UPDATES=false

# Enable / Disable debug mode
DEBUG=false

# Disable all console output (ie: Silent mode)
SILENT=false

# List of packages to always update
UPDATE_ALLOWLIST=[]

# List of packages to never update
UPDATE_DENYLIST=[]
